* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #3334;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    margin-right: 2rem;
    padding: 3px;
    gap: 8px;
}

nav ul li {
    margin: 5px;
}

nav ul li:hover {
    border-bottom: 2px solid yellow;
}

section {
    padding: 100px 20px; 
    min-height: 100vh; 
    color: white;
}

header {
    text-align: center;
    margin-top: 150px;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: black;
}

.name-text {
    color: orange;
    font-size: 3rem;
    padding: 5px;
    margin: 5px;
    border-bottom: 5px solid orange;
    transition: 0.3s ease-in;
}

.name-text:hover {
    font-size: 3.5rem;
    color: rgba(255, 251, 0, 0.8);
}
.title{
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    margin: 2px;
}
.bottom{
    border: 2px solid rgba(255, 251, 0, 0.8);
    width: 190px;
    margin: auto;
}

#outside{
    height: auto;
    width: auto;
    /* border: 2px solid rgb(241, 236, 236); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    margin: 5px;
  
}
#projects{
    background-color: black;
    color: white;
    /* text-align: center; */
}
.project-tile{
    width: 415px;
    height: 365px;
    background-color: rgb(208, 208, 221);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: height 0.3s ease;
    overflow: hidden;
}
.project-tile:hover{
    height: 400px;
}
.project-tile>a>img{
    width: 390px;
    height: auto;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.project-tile:hover>a>img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-bottom: 5px solid rgb(14, 13, 13);
    border-radius: 10px;
}
.bottom-text{
    color: black;
    margin: 8px;
    padding: 5px;
    display: block;
    opacity: 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;
    transition: opacity 0.3s ease;
}

.project-tile:hover .bottom-text {
    opacity: 1; 
}
.show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid ;
    margin: auto;
    width: 120px;
    padding: 5px;
    height: auto;
}
.show-a{
    color: white;
}
.show-a:hover{
    color: black;
}
.show-more:hover{
    background-color: rgb(245, 245, 245);
    color: black
}
.arrow{
    transition: all 0.3s ease;
    position: relative;
    left: 0px;
}
.show-more:hover .arrow{
    color: rgb(228, 41, 41);
    left: 5px;
}
.contact-head-text{
    font-size: 2.5rem;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    line-height: 5px;
}
#contact-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#contact-icon{
    margin: 10px;
    padding: 5px;
    color: black;
}
#profile-link{
    font-size: 2rem;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}
i{
    margin: 12px;
    font-size: 2rem;
    transition: all 0.3s ease;
}
#profile-link:hover{
    font-size: 2.2rem;
    font-weight: bolder;
}
#profile-link:hover i{
    font-size: 1.8rem;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media */
@media(max-width:400px){
    nav{
        justify-content: center;
    }
    nav ul{
        margin: 5px auto;
    }
    .project-tile {
        height: auto; 
        width: auto;
    }

    .bottom-text {
        opacity: 1; 
    }

    .project-tile:hover {
        height: auto; 
    }
    
    #contact-profile{
        display: grid;
    }
    #profile-link{
        font-size: 1.5rem;
    }
    i{
        font-size: 1.5rem;
    }
}